#skills{
    margin-top: 10%;
}

.skill{
    min-width: 20%;
    text-align: center;
    filter: contrast(125%) grayscale(100%);
}


#skills svg{
    width: 5em;
    height: 5em;
}

#skills-list{
    margin-top: 3.5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill:hover{
    filter: contrast(100%) grayscale(0%);
}